<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Responsive Hola Futuro</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carrois+Gothic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="width: 100%;background: rgb(84,84,84);">
    <nav class="navbar navbar-dark navbar-expand-md text-light bg-dark navigation-clean-search" style="background: var(--gray-dark);">
        <div class="container"><a class="navbar-brand text-white" href="#"><img src="assets/img/hola-futuro-logo%20modif.png" style="height: 64px;">&nbsp;</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Promociones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Webinars</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contactanos</a></li>
                </ul><a class="btn btn-dark bg-dark border rounded-pill border-white ml-auto" role="button">Iniciar Sesion</a>
            </div>
        </div>
    </nav>
    <div class="container d-inline-flex" style="padding: 0px;padding-left: 15px;padding-bottom: 15px;padding-right: 0px;padding-top: 15px;max-width: 100%;width: 100%;">
        <aside class="d-inline-flex" style="width: 15%;">
            <div style="width: 50%;">
                <div class="m-auto" style="width: 2px;max-width: 2px;height: 30%;margin: 0px;margin-right: 0px;margin-left: 0px;border-style: solid;border-color: var(--white);"></div>
            </div>
        </aside>
        <section style="margin-left: 5%;width: 100%;">
            <div class="row no-gutters">
                <div class="col" style="padding-left: 9px;">
                    <h1 class="text-center text-md-left text-lg-left text-xl-left" style="color: var(--white);font-size: 39px;font-family: 'Carrois Gothic', sans-serif;">PROMOCIONES DE VERANO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="carousel slide" data-ride="carousel" id="carousel-1" style="padding-left: 0px;padding-right: 0px;margin-left: 5%;margin-right: 0px;width: 95%;">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><img class="img-fluid w-100 d-block" alt="Slide Image" src="assets/img/slide%201.png"></div>
                            <div class="carousel-item"><img class="img-fluid w-100 d-block" src="assets/img/slide%202.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="img-fluid w-100 d-block" src="assets/img/slide%203.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="img-fluid w-100 d-block" src="assets/img/slide%204.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="img-fluid w-100 d-block" src="assets/img/slide%205.png" alt="Slide Image" style="transform: translate(0px);"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                            <li data-target="#carousel-1" data-slide-to="3"></li>
                            <li data-target="#carousel-1" data-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section>
        <footer class="footer-clean" style="background: rgb(0,0,0);margin: 0px;width: 100%;">
            <div class="container-fluid" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;width: 100%;">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4 row-cols-xl-4" style="width: 100%;margin-right: 0px;margin-left: 0px;padding: 0px;padding-top: 30px;">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center justify-content-sm-center item" style="min-width: 25%;width: 30%;max-height: 200px;height: 100px;max-width: 100%;"><a href="#"><img src="assets/img/hola-futuro-logo%20modif.png" style="height: 90px;width: 130px;"></a></div>
                    <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2 offset-sm-0 item" style="color: rgb(255,255,255);max-width: 100%;width: 15%;min-width: 15%;">
                        <h3 style="margin-bottom: 20px;">Menu</h3>
                        <ul class="list-unstyled" style="margin-bottom: 40px;">
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#" style="font-size: 15px;">Home</a></li>
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#" style="margin-bottom: 5px;font-size: 15px;">Nosotros</a></li>
                            <li style="margin-bottom: 10px;font-size: 15px;"><a class="text-white" href="#" style="margin-bottom: 0px;">Promociones</a></li>
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#" style="font-size: 15px;">Contactanos</a></li>
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#" style="font-size: 15px;">Webinars</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 item" style="color: rgb(255,255,255);max-width: 100%;min-width: 25%;width: 30%;">
                        <h3 style="margin-bottom: 20px;">Contáctenos</h3>
                        <ul class="list-unstyled">
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#">businessteam@prueba.com.co</a></li>
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#">&nbsp;+1 3000000000</a></li>
                            <li style="margin-bottom: 10px;"><a class="text-white" href="#">Ciudad, País Calle 80 #19 - 10 CP 202</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-left text-md-center item social" style="color: rgb(255,255,255);max-width: 100%;min-width: 25%;width: 30%;text-align: center;">
                        <h3 class="text-left text-md-center" style="text-align: center;margin-bottom: 20px;width: 100%;">Redes Sociales</h3><a href="#"><i class="icon ion-social-facebook" style="border-color: rgb(255,255,255);color: rgb(255,255,255);font-size: 30px;margin-right: 30px;"></i></a><a href="#"></a><a href="#"><i class="icon ion-social-instagram" style="font-size: 30px;color: rgb(255,255,255);margin-right: 30px;"></i></a><i class="fa fa-youtube-play" style="margin-right: 0px;color: rgb(255,255,255);font-size: 30px;"></i>
                    </div>
                </div>
            </div>
            <h6 class="text-center" style="color: rgb(255,255,255);background: var(--gray);height: 38px;padding-top: 8px;margin-bottom: 0px;">Copyright @ 2021. All Rights Reserved i1Tech</h6>
        </footer>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>